.Board {
	height: 440px;
	position: relative;
	overflow: hidden;
	border: 3px solid black;
}
@media screen and ( max-height: 500px ){
	.Board {
		height: 100%;
		border: none;
		overflow: visible;
	}
	.holder {
		height: calc(100% - 60px);
	}
}
.padding {
	padding: 10px;
}
.intro {
	margin: 20px auto;
	text-align: left;
	width: 100%;
	max-width: 700px;
	padding: 0 10px 0 70px;
	background: url('images/bag_front.png') 10px 10px no-repeat;
}
.message {
	display: inline-block;
	text-align: left;
	height: 110px;
	padding: 40px 0 0 70px;
	margin: 0 0 10px;
	background: url('images/bag_front.png') left 10px no-repeat;
}
.lose {
	background-image: url('images/bag_frown.png');
}
