.Board {
	position: relative;
	overflow: hidden;
	border: 3px solid black;
	background:
	radial-gradient(white 10%, transparent 11%),
	radial-gradient(white 10%, transparent 11%),
	#efefef;
	background-position: 0 0, 70px 70px;
	-webkit-background-size:140px 140px;
	-moz-background-size:140px 140px;
	background-size:140px 140px;
}
@media screen and ( max-height: 500px ){
	.holder {
		height: 120%;
	}
	.Board {
		height: 100%;
		border: none;
	}
}
.padding {
	padding: 10px;
}
.intro {
	margin: 20px auto;
	text-align: left;
	width: 100%;
	max-width: 700px;
	padding: 0 10px 0 70px;
	background: url('images/bag_front.png') 10px 10px no-repeat;
}
.message {
	display: inline-block;
	text-align: left;
	height: 110px;
	padding: 40px 20px 0 60px;
	margin: 0 0 10px;
	background: url('images/bag_front.png') left 10px no-repeat;
}
.lose {
	background-image: url('images/bag_frown.png');
}
